.*.swp
persist
configuration/persist
notes*
development-help/*/persist/*
!development-help/*/persist/litellm
development-help/*/persist/litellm/*
!development-help/*/persist/litellm/config.yaml
#development-help/*/.env
**/.vagrant
